body {
    background-color: black;
    color: white;
}

/* Header */

h1 {
    font-size: 72px;
    text-align: center;
}

#title {
    font: 1em Brush Script MT;
    font-size: 72px;
}

/* Items */

h2 {
    font: 1em Brush Script MT;
    font-size: 56px;
    text-align: center;
    border-bottom: 2px solid darkorange;
    bottom: 50%;
  }

  .left_box {
    display: flex;
    flex-direction: row;
  }

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 36, 36);
    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: black;
  }
  
  li div:hover {
    background-color: black;
  }

  .active {
    background-color: darkorange;
  }

  /* Images */

  .right {  
    display: flex;
    width: 50%;
    height: 100%
   }

  #history_photo_1 {
    width: auto;
    height: auto;
    content: url(https://www.armyfm.com.ua/images/pages/2601/1582901078_bring-me-the-horizon77.jpg);
  }

  /* Paragraphs */

  .left_paragraph {
    width: 50%;
    font-size: 24px;
  }