body {
    background-color: black;
    color: white;
    margin: 0;
}

/* Header */

h1 {
    font-size: 72px;
    text-align: center;
}

#title {
    font: 1em Brush Script MT;
    font-size: 72px;
}

/* Items */

h2 {
    font: 1em Brush Script MT;
    font-size: 56px;
    text-align: center;
    border-bottom: 2px solid darkorange;
    bottom: 50%;
  }

  .left_box {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-around;
  }

  .right_box {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    justify-content: space-around;
  }

/* Navbar */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 36, 36);
    position: sticky;
    top: 0;
  }

  .nav-item {
    float: left;
  }

  .nav-item-right {
    margin-top: 3px;
    margin-right: 10px;
    float: right;
  }

  .item-right {
    background-color: gray;
  }

  .item-right:hover {
    background-color: darkgray;
  }
  
  .nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-item a:hover {
    background-color: black;
  }

  .active {
    background-color: darkorange;
  }

  /* Images */

  .right { 
    display: flex;
    width: 50%;
    height: 50%;
    padding-left: 3%;
   }

   .left { 
    display: flex;
    width: 50%;
    height: 50%;
    padding-left: 3%;
   }

  #history_photo_1 {
    width: 90%;
    height: auto;
    content: url(https://www.armyfm.com.ua/images/pages/2601/1582901078_bring-me-the-horizon77.jpg);
  }

  #history_photo_2 {
    width: 90%;
    height: auto;
    content: url(https://lastfm.freetls.fastly.net/i/u/770x0/e3a7cbc3be594caeb5f2c769b8ddb049.jpg#e3a7cbc3be594caeb5f2c769b8ddb049);
  }

  #member_photo_1 {
    max-width: 100%;
    height: auto;
    align-self: center;
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/2016_RiP_Bring_Me_the_Horizon_-_Oliver_Sykes_-_by_2eight_-_8SC6713.jpg/180px-2016_RiP_Bring_Me_the_Horizon_-_Oliver_Sykes_-_by_2eight_-_8SC6713.jpg);
  }

  #member_photo_2 {
    max-width: 10%;
    height: auto;
    align-self: center;
    content: url(https://sites.google.com/site/bringmethehorizoonn/_/rsrc/1493073127366/sostav-gruppy/li-malia/IIpSOWx2JD4.jpg?height=400&width=313);
  }

  #member_photo_3 {
    max-width: 100%;
    height: auto;
    align-self: center;
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/2016_RiP_Bring_Me_the_Horizon_-_Matt_Kean_-_by_2eight_-_8SC6703.jpg/120px-2016_RiP_Bring_Me_the_Horizon_-_Matt_Kean_-_by_2eight_-_8SC6703.jpg);
  }

  #member_photo_4 {
    max-width: 100%;
    height: auto;
    align-self: center;
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/2016_RiP_Bring_Me_the_Horizon_-_Matt_Nicholls_-_by_2eight_-_8SC6569.jpg/180px-2016_RiP_Bring_Me_the_Horizon_-_Matt_Nicholls_-_by_2eight_-_8SC6569.jpg);
  }

  #member_photo_5 {
    max-width: 100%;
    height: auto;
    align-self: center;
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/2016_RiP_Bring_Me_the_Horizon_-_Jordan_Fish_-_by_2eight_-_8SC6495.jpg/180px-2016_RiP_Bring_Me_the_Horizon_-_Jordan_Fish_-_by_2eight_-_8SC6495.jpg);
  }

  #member_photo_6 {
    max-width: 10%;
    height: auto;
    align-self: center;
    content: url(K.jpg);
  }

  #table_pic_1 {
    content: url(https://i.discogs.com/Gm1YGdDbxBpK0OBxMkgKyFc9-NHAphQVYiQkRZqPB8M/rs:fill/g:sm/q:40/h:100/w:100/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTMxMzAy/NDQtMTYzNTY3NDgy/OC0xNTU1LmpwZWc.jpeg);
  }

  #table_pic_2 {
    content: url(https://i.discogs.com/xWVT717S0F8f9WIohLCJbtnmrm9pHOmw1VE8jDn8Uu8/rs:fill/g:sm/q:40/h:100/w:100/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTM1MDky/ODgtMTMzMzI3NTQ1/MC5qcGVn.jpeg);
  }

  #table_pic_3 {
    content: url(https://i.discogs.com/f75IaM3zLutmE9sQMQSsU-NCB2udaWo2Bdj3SRiYqfo/rs:fill/g:sm/q:40/h:100/w:100/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTYzOTMy/NDItMTQxODEzMTQ5/NC02OTE5LmpwZWc.jpeg);
  }

  #table_pic_4 {
    content: url(https://i.discogs.com/Zoow8qktK19jZzd2-qdSuAUymb8tovfCSDsHoqOKHO0/rs:fill/g:sm/q:40/h:100/w:100/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE1ODU4/OTY2LTE1OTkxMjA3/MTQtNDQ4Ny5qcGVn.jpeg);
  }

  #table_pic_5 {
    content: url(https://i.discogs.com/KMhaz4Gi9Sg8TBMjImTyOhg9qwGcV5apR5wH68eD7Xg/rs:fill/g:sm/q:40/h:100/w:100/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE1NTMy/ODc3LTE1OTMxNDYz/NzMtNzE0NC5qcGVn.jpeg);
  }

  #schedule_pic_1 {
    width: 50%;
    align-self: center;
    content: url(Schedule1.png);
  }

  #schedule_pic_2 {
    width: 50%;
    align-self: center;
    content: url(Schedule2.png);
  }

  .schedule_container {
    display: flex;
    width: 50%;
    padding-left: 25%;
    justify-content: space-between;
  }

  /* Paragraphs */

  div {
    text-indent: 12px;
  }

  .left_paragraph {
    flex-grow: 0; 
    padding-left: 3%;
    width: 50%;
    font-size: 24px;
  }
  .right_paragraph {
    flex-grow: 0; 
    padding-left: 3%;
    width: 50%;
    font-size: 24px;
  }

  /* members-list */

  .members-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .member {
    display: block;
    align-self: center;
    text-align: center;
    font-size: large;
    padding-bottom: 2px;
    border-bottom: 3px dashed darkorange;
    width: 20%;
  }

  .member a {
    color: white;
    text-decoration: none;
  }

  .member a:hover {
    color: black;
    background-color: darkorange;
  }

  /* footer */

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 36, 36);
    text-align: center;
    color: gray;
    min-height: 100px;
    min-width: 100px;
    padding: 0;
    margin: 0;
    bottom: 0;
    overflow: hidden;
  }

  footer {
    padding-top: 8px;
    font-size: 200%;
  }

  /* table */

  table {
      width: 100%;
      border-color: darkorange;
      position: absolute;
  }

  .table_text {
    padding-top: 27px;
  }

  table p {
    display: inline;
    position: absolute;
    width: 10%;
  }

  /* songs */

  .song {
    height: 40px;
  }

  /* video */

  video {
    border: 4px double darkorange;
    width: 100%;
    align-self: center;
    align-items: center;
  }

  .video-container {
    padding-left: 25%;
    width: 50%;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  /* dropdown */

  .menu-icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  /* Bebra */